@import 'variables';


nav{

  & ul{
   margin:0;
   padding:0;
  }

  & li{
    display: block;
    width:100%;
    color:#fff;
    text-align: center;


    &:first-child{
      border-top:0;
    }
  }

  & a{
    display: block;
    padding:15px;
    font-size:12px;
    color:#ddd;

    &:hover{
      background-color:#222;
    }
  }


  &.main-nav{

  }

  &[data-tab-triggers]{
    display: block;
    width:100%;

    & ul{
      display: table;
      width:100%;
      table-layout:fixed;
      border:2px solid #ccc;
    }

    & li{
      display: table-cell;
      vertical-align: bottom;
      text-align: center;
      border-left:2px solid #ccc;

      &:first-child{
        border:0;
      }
    }

    & a{
      display: block;
      width:100%;
      padding: 15px 0;
      font-size:18px;
      color:@black;
      background-color:#eee;
      .transition( all .3s );

      &:hover,
      &.active{
        color:@crimson;
        background-color:#fff;
      }
    }
  }
}